<header class="container">
  <div class="logo">
    <img src="assets/images/logo.png" aria-hidden="true">
  </div>
  <span class="pipe" aria-hidden="true"></span>
  <div class="menu">
    <a mat-button [routerLink]="'home'">INÍCIO</a>
    <a mat-button [routerLink]="'sobre'">SOBRE</a>
    <a mat-button >SERVIÇOS</a>
    <a mat-button >CONTATO</a>
    <a mat-button >BLOG</a>
    <a class="appBtn" role="button" aria-label="whatsapp" href="https://api.whatsapp.com/send?phone=5511965868650" target="_blank">
      <img class="whatsapp-image" src="assets/images/whatsapp.png" aria-hidden="true">
    </a>
  </div>

</header>
<router-outlet></router-outlet>
