<div class="home-container">
  <section class="box-content">
    <div class="content">
      <div><h1 class="title">Lorem Ipsum</h1></div>
      <div>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          viverra nulla vel erat porta semper. Suspendisse mollis neque non
          neque sagittis, a hendrerit dolor blandit. Ut leo ex, tincidunt sed
          pharetra nec, laoreet et sapien. Aliquam nulla erat, ullamcorper
          luctus arcu ac, tincidunt lobortis nisl. Sed pretium at urna ut
          finibus. Maecenas aliquet varius mi ac rhoncus. Phasellus eget orci
          tortor. Maecenas eleifend tempus lorem, sit amet rhoncus metus viverra
          nec. Suspendisse aliquet laoreet eros, porttitor semper elit mollis
          ut. Curabitur arcu neque, consectetur id lacus ac, condimentum
          fringilla lectus. Cras viverra elementum congue. Vivamus condimentum
          ornare massa vitae malesuada. Donec ultrices magna ac velit ornare,
          non tincidunt magna eleifend.
        </p>
      </div>
    </div>
    <div>
      <img class="images" src="assets/images/exampleImage.jpg" aria-hidden="true" />
    </div>
  </section>
</div>
